@charset "utf-8";

/*
    Hashing Research Project
    Authors: Connor J Webdale, Austin Inmon
    Date: 10.8.18

    Filename: altstyles.css
*/

/*HTML and Body Styles*/
html {
    background-color: #a2b9bc; 
}

body {
    background-color: #b2ad7f; 
    /*find font*/ 
}

/*Navigation Styles*/
nav {
    background-color: #878f99; 
}
nav ul {
    list-style-type: none; 
    line-height: 2em; 
}

nav a:link, nav>ul>li>a:visited {
    text-decoration: none; 
    color: #594392; 
}

nav>ul>li>a:active, nav>ul>li>a:hover {
    background-color: #636a70;
}