@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
    Hashing Research Project
    Authors: Connor J Webdale, Austin Inmon
    Date: 10.8.18

    Filename: altstyles.css
*/

/*HTML and Body Styles*/

/*Picked background colors that go well together. -Connor*/
html {
    background-color: rgb(63.5%, 72.5%, 73.7%); 
}

body {
    background-color: rgb(50, 68, 95);  
}

/*Changed the font and color to make it stand out. Font size/background color changed for readability and to draw attention to the h1. Padding and margin so the h1 looks nice. -Connor*/
h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 223, 223); 
    font-size: 32px;
    background-color: rgb(41, 41, 41); 
    padding: 20px;
    margin: 10px;
}

/*Changed the font and color to make it stand out. Font size/background color changed for readability. Padding and margin so the h1 looks nice in the article element. -Connor*/
article h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 223, 223);
    font-size: 32px;
    background-color: rgb(41, 41, 41); 
    padding: 20px;
    margin: 0;
}

/*Easier to read. -Connor*/
p {
    padding-left: 0.5vw; 
    text-indent: 1vw; 
    line-height: 125%; 
}

/*Look better on the page. -Connor*/
article>div h1#left {
    margin-top: 8.5px; 
}

/*Changed font and color to stand out against the background. Used calc for size(learned from Micah). -Connor*/
article p {
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 223, 223);
    font-size: calc(11px + .6vw);
}

/*Making it look good. -Connor*/
article#info>p#history {
    padding-top: 0.5vw;
    margin-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 0.5vw;
}

/*Made font size bigger to draw attention, since it was a good summary of the text. -Connor*/
blockquote {
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 223, 223);
    font-size: calc(11px + .7vw);
}

/*Navigation Styles*/
/*Changed background color to make the navigation bar easy to find. -Connor*/
nav {
    background-color:rgb(41, 41, 41);
    font-family: 'Roboto', sans-serif;
    color: rgb(223, 223, 223);
    font-size: 20px;
}

/*Removed the discs and changed line-height for layout issues. -Connor*/
nav ul {
    list-style-type: none;
    line-height: 2em;
}

/*Removed underlining. -Connor*/
nav a:link,
nav>ul>li>a:visited {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

/*Added a difference when links are hovered or active. -Connor*/
nav>ul>li>a:active,
nav>ul>li>a:hover {
    background-color: rgb(99, 106, 112);
}

/*Footer Styles*/
/*Darkened footer text color. -Connor*/
footer {
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153); 
    font-size: calc(10px + .5vw);
}

footer address{
    padding-bottom: 9.8px; 
}