@charset "utf-8";

/*
Hashing Research Project
Author: Connor J Webdale
Date: 10.8.18
            
Filename: layout4.css
*/

/*Structure of Body*/
/*Changed font size to scale. -Connor*/
header h1 {
    font-size: calc(24px + 2vw);
    padding: 0 2vw;
}

article p {
    padding: 1vw;
}

/*Removed disc from unordered list. Changed line height so each item wasn't crowded.  -Connor*/
article ul li {
    list-style-type: none; 
    line-height: 125%; 
    font-family: 'Roboto', sans-serif;
    font-size: calc(11px + .6vw);
    color: rgb(223, 223, 223); 
    margin: 1vw; 
}

article>ul {
    padding-left: 0px; 
}
/*Navigation Styles*/
/*Put navigation into a horizontal row instead of a vertical column. -Connor*/
nav {
    display: table;
    width: 100%;
}

nav>ul {
    display: table-row;
    list-style-type: none;
}

nav>ul>li {
    display: table-cell;
    text-align: center;
    width: 284px;
}

nav a {
    display: block;
    width: 100%;
}

/*Footer Styles*/
/*Aligned the text of the footer -Connor*/
footer {
    text-align: center;
}